<div class="top-page-main">
  
    <%= form_tag(controller: "profiles", action: "index") do %>
      <div class="sort">
      <%= select_tag :sort, options_for_select("新着順": "id desc", "登録順": "id asc", "価格の高い順": "price desc", "価格の安い順": "price asc"),include_blank: true%>
      </div>
      <div class="sort-btn">
        <%= submit_tag("並べ替える") %>
      </div>
    <% end %>
  <div class="contents-wrapper">
    <% @profiles.each do |profile| %>
      <div class="content">
        <div class="info1">
          <div class="mentor-image-content">
            <% if profile.image != nil %>
            <%= image_tag profile.image.variant(resize_to_fill: [100,100]).processed, class:"mentor-image" %>
            <% end %>
          </div>
          <div class="info1-right">
            <div class="mentor-name">
              <div class="mentor-name-box">
                <%= link_to profile.user.nickname, profile_path(profile) %>
              </div>
            </div>
            <div class="mentor-price">
              <div class="mentor-price-box">
                メンター契約料  ￥<%= profile.price %> /月
              </div>
            </div>
          </div>
        </div>
        <div class="mentor-title">
          <div class="mentor-title-box">
            <%= profile.title %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <div class="pagination" >
      <%= paginate @profiles %>
    </div>

</div>