<div class="items-sell-contents">
  <div class="items-sell-main">
  <div class='login-flash-message'> 
    <%= flash[:alert] %> 
  </div>
    <div class="top-wrapper">
      <div class="top-left">
        <div class="top-image">
            <% if @profile.image != nil %>
              <%= image_tag @profile.image.variant(resize_to_fill: [100,100]).processed, class:"mentor-image" %>
            <% end %>
        </div>
      </div>
      <div class="top-right">
        <div class="top-name">
          <div class="nickname-box">
          <%= @profile.user.nickname %>
          </div>
        </div>
        <div class="top-title">
          <div class="title-box">
          <%= @profile.title %>
          </div>
        </div>
      </div>
    </div>

    <div class="middle-wrapper">
      <% if @profile.slide != nil %>
        <%= image_tag @profile.slide.variant(resize_to_fill: [600,350]).processed %>
      <% end %>
    </div>


    <div class="bottom-wrapper">
      <%= simple_format(@profile.self_introduction) %>
    </div>

    <div class="price-wrapper">
      <div class="price-title">
        メンター契約料
      </div>
      <div class="price-main">
        ￥<%= @profile.price %> /月
      </div>
      
    </div>

  
  <% if current_user %> 

    <div class="chat-wrapper">
      <%= link_to(rooms_path(user_ids: [current_user.id, @profile.user.id]), method: :post) do %>
        <div class="chat-btn">
          <div class="chat-p">チャットで相談する</div>
            <%= image_tag 'chat.png', class: 'chat-logo'%>
        </div>
      <% end %>
    </div>
    
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= link_to "契約画面に進む", profile_orders_path(@profile) ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>

  <% end %>

    <div class="reviews">
      <h2>〈　レビュー 一覧　〉 </h2>
      <% if @reviews %>
        <% @reviews.each do |review| %>
          <p>
            <div class="reviewer">
              <strong><%=review.user.nickname%></strong>
              <%= "　⭐️" * review.valuation %>
            </div>
            <div class="review-message">
              <%= review.content %>
            </div>
          </p>
        <% end %>
      <% end %>
    </div>

  <% if current_user %>

    <div class="send-review">
      <%= form_with(model: [@profile, @review], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントを入力してください", rows: "2" ,class:"review-content"%>
        <div class="review-valuation">
        <%= form.select :valuation, [['⭐️⭐️⭐️⭐️⭐️',5],['⭐️⭐️⭐️⭐',4],['⭐️⭐️⭐️',3],['⭐️⭐️',2],['⭐️',1]] %>
        <%= form.submit "レビューする", class:"review-btn" %>
        </div>
      <% end %>
    </div>

  <% end %>


  </div>
  </footer>
</div>